In [3]:
tup0=()
tup1=(1,2,3,4,5)
tup2=("one","two","three","four","five")
tup3=(1,"two",(1,2),("rah","aman"))

In [4]:
print(tup0)
print(tup1)
print(tup2)
print(tup3)

()
(1, 2, 3, 4, 5)
('one', 'two', 'three', 'four', 'five')
(1, 'two', (1, 2), ('rah', 'aman'))

# index []

In [7]:
tup1[2]

3

In [8]:
tup3[3][1]

'aman'

In [9]:
tup3[3]

('rah', 'aman')

In [10]:
tup3[3][1][1]

'm'

# slicing[]

In [19]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [20]:
mytuple[:4]

('one', 'two', 'three', 'four')

In [21]:
mytuple[1:]

('two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [22]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [23]:
mytuple[:-2] #even in -ve indexing start values is from start ie initial value

('one', 'two', 'three', 'four', 'five', 'six')

In [24]:
mytuple[-2:]

('seven', 'eight')

# append , remove , add , push, pop not done in tuple

# loops in tup

In [26]:
for i in mytuple:   # i refers to iteration=each value
    print(i)

one
two
three
four
five
six
seven
eight

In [27]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# count (returns hows many times a value is returned) [a.count]

In [28]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [29]:
mytuple1.count("one")

3

In [30]:
mytuple1.count("two")

2

In [31]:
mytuple1.count('four')

1

# tuple member ship (returns true or false)

In [32]:
"one" in mytuple

True

In [34]:
"ten" in mytuple

False

In [35]:
if "six" in mytuple:
    print('it is in tuple')
else:
    print('value is not in tuple')

it is in tuple

In [36]:
if "hun" in mytuple:
    print('it is in tuple')
else:
    print('value is not in tuple')

value is not in tuple

# index position

In [37]:
mytuple.index("three")

2

In [39]:
mytuple.index("ele")

ValueError: tuple.index(x): x not in tuple

# sorting

In [40]:
mytuple2 = (43,67,99,12,6,90,67)

In [41]:
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [42]:
sorted(mytuple2) #syntax for sort in tuple

[6, 12, 43, 67, 67, 90, 99]

In [46]:
sorted(mytuple2, reverse=True) #for desc order

[99, 90, 67, 67, 43, 12, 6]

In [47]:
sorted(mytuple2, value= -1)

TypeError: 'value' is an invalid keyword argument for sort()