# RANGE

In [27]:
a = range(10)

In [28]:
r = range(10)
r

range(0, 10)

In [32]:
for i in a:
    print(i,end= " ")

0 1 2 3 4 5 6 7 8 9

In [33]:
for i in enumerate(a):
    print(i, end=" ")

(0, 0) (1, 1) (2, 2) (3, 3) (4, 4) (5, 5) (6, 6) (7, 7) (8, 8) (9, 9)

In [35]:
import pandas as pd
df=pd.DataFrame(a)

In [36]:
df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [37]:
s = ('one','two','three','four')
s

('one', 'two', 'three', 'four')

In [40]:
import pandas as  b
z = b.DataFrame(s)

In [41]:
z

       0
0    one
1    two
2  three
3   four

# r1=range(10,20)
r1

r2=range(10,100,10)
r2

In [6]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(r1)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list(r2)

In [9]:
r3=range(1.2,1.4,1.8)

TypeError: 'float' object cannot be interpreted as an integer

In [10]:
range(10,200,10,20)

TypeError: range expected at most 3 arguments, got 4

In [24]:
for i in r2:
    print(i)

10
20
30
40
50
60
70
80
90

# set {}

In [1]:
s1={2,6,72,216,84,273,9474,1}
s1

{1, 2, 6, 72, 84, 216, 273, 9474}

In [2]:
s2={2.25,4.23,4.2,4.8,5.8,10.9,7.9}
s2

{2.25, 4.2, 4.23, 4.8, 5.8, 7.9, 10.9}

In [3]:
s3={"abd",123,1.4,(1,2,3)}
s3

{(1, 2, 3), 1.4, 123, 'abd'}

In [4]:
s1[2]

TypeError: 'set' object is not subscriptable

In [5]:
s1[:]

TypeError: 'set' object is not subscriptable

In [6]:
s1.add(4)
s1

{1, 2, 4, 6, 72, 84, 216, 273, 9474}

In [7]:
s1.add([1,2,3])

TypeError: unhashable type: 'list'

In [8]:
s1.update([1,2,3,'hai'])
s1

{1, 2, 216, 273, 3, 4, 6, 72, 84, 9474, 'hai'}

In [9]:
s1.add('a')
s1.add('b')
s1

{1, 2, 216, 273, 3, 4, 6, 72, 84, 9474, 'a', 'b', 'hai'}

In [10]:
s1.remove('b')
s1

{1, 2, 216, 273, 3, 4, 6, 72, 84, 9474, 'a', 'hai'}

In [11]:
s1.remove(9474)
s1

{1, 2, 216, 273, 3, 4, 6, 72, 84, 'a', 'hai'}

In [12]:
s1.update(1,[10,20,30])

TypeError: 'int' object is not iterable

In [13]:
s1.update([1,'abc',10,20,30])
s1

{1, 10, 2, 20, 216, 273, 3, 30, 4, 6, 72, 84, 'a', 'abc', 'hai'}

In [14]:
fs=frozenset(s2)
fs

frozenset({2.25, 4.2, 4.23, 4.8, 5.8, 7.9, 10.9})

In [15]:
fs.update(28)
fs

AttributeError: 'frozenset' object has no attribute 'update'

In [16]:
s1

{1, 10, 2, 20, 216, 273, 3, 30, 4, 6, 72, 84, 'a', 'abc', 'hai'}

In [17]:
for i in s1:
    print(i)

1
2
4
3
6
a
72
abc
10
273
84
20
hai
216
30

In [18]:
 273 in s1

True

In [19]:
'abcd' in s1

False

In [20]:
for i in enumerate(s1):
    print(i)

(0, 1)
(1, 2)
(2, 4)
(3, 3)
(4, 6)
(5, 'a')
(6, 72)
(7, 'abc')
(8, 10)
(9, 273)
(10, 84)
(11, 20)
(12, 'hai')
(13, 216)
(14, 30)

In [21]:
s3

{(1, 2, 3), 1.4, 123, 'abd'}

In [22]:
s3.add(9)
s3

{(1, 2, 3), 1.4, 123, 9, 'abd'}

In [23]:
s3.discard(1.4)
s3

{(1, 2, 3), 123, 9, 'abd'}

In [24]:
s3.clear()
s3

set()

In [25]:
del s3
s3

NameError: name 's3' is not defined

In [26]:
s3 = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
s3

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [27]:
s4 = s3
s4

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [28]:
id(s3)

2784117484448

In [29]:
id(s4)

2784117484448

In [30]:
s5=s3.copy()
s5

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [31]:
id(s5)

2784117484000

In [32]:
s3.add('nine')
s3

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [33]:
s4

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [34]:
s5

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [35]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [36]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
a|b|c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
print(a)
print(b)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [41]:
a&b

{4, 5}

In [42]:
a.intersection(b)

{4, 5}

In [43]:
a&b&c

set()

In [44]:
a.intersection(b,c)

set()

In [45]:
print(a)
print(b)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [46]:
b-a

{6, 7, 8}

In [47]:
a-b

{1, 2, 3}

In [48]:
b.difference(a)

{6, 7, 8}

In [86]:
print(a.difference(b))
print(a)

{1, 2, 3}
{1, 2, 3}

In [87]:
a.difference_update(b)
a

{1, 2, 3}

In [50]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [51]:
a^b

{1, 2, 3, 6, 7, 8}

In [52]:
a^b^c

{1, 2, 3, 6, 7, 9, 10}

In [78]:
a.symmetric_difference(b)

{1, 2, 3, 4, 5}

In [80]:
z=a.symmetric_difference_update(b)
z

In [54]:
a.symmetric_difference(b).symmetric_difference(c)

{1, 2, 3, 6, 7, 9, 10}

In [55]:
a.symmetric_difference(b, c)

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

In [56]:
d = {1,2,3,4,5,6,7,8,9}
e = {3,4,5,6,7,8}
f = {10,20,30,40}
print(d)
print(e)
print(f)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8}
{40, 10, 20, 30}

In [57]:
e.issubset(d)

True

In [58]:
d.issuperset(e)

True

In [59]:
d.isdisjoint(e)

False

In [60]:
a

{1, 2, 3, 4, 5}

In [61]:
sum(a)

15

In [62]:
max(a)

5

In [63]:
len(a)

5

In [64]:
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [65]:
x=sorted(a)
x

[1, 2, 3, 4, 5]

In [66]:
y=sorted(a, reverse=True)
y

[5, 4, 3, 2, 1]

# Dictionary

In [1]:
dict={1:'one',2:'two',3:'three',4:'four'}
dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [2]:
dict1={}
dict1

{}

In [3]:
dict2={'a':'one',"b":'two','c':'three'}
dict2

{'a': 'one', 'b': 'two', 'c': 'three'}

In [4]:
dict3={'a':'one',2:'two',3:'three'}
dict3

{'a': 'one', 2: 'two', 3: 'three'}

In [5]:
dict3.keys()

dict_keys(['a', 2, 3])

In [6]:
dict4=dict3.copy()
dict4

{'a': 'one', 2: 'two', 3: 'three'}

In [7]:
id(dict4)

2808226033984

In [8]:
id(dict3)

2808226089856

In [9]:
dict5=dict4
dict5

{'a': 'one', 2: 'two', 3: 'three'}

In [10]:
print(id(dict4))
print(id(dict5))

2808226033984
2808226033984

In [11]:
dict4.values()

dict_values(['one', 'two', 'three'])

In [12]:
dict4.items()

dict_items([('a', 'one'), (2, 'two'), (3, 'three')])

In [13]:
for i in enumerate(dict4):
    print(i)

(0, 'a')
(1, 2)
(2, 3)

In [14]:
for i in enumerate(dict4.keys()):
    print(i)

(0, 'a')
(1, 2)
(2, 3)

In [15]:
for i in enumerate(dict4.values()):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')

In [16]:
for i in enumerate(dict4.items()):
    print(i, end=' , ')

(0, ('a', 'one')) , (1, (2, 'two')) , (2, (3, 'three')) ,

In [17]:
keys={1,2,3,4}
dict6=dict.fromkeys(keys)
dict6

{1: None, 2: None, 3: None, 4: None}

In [18]:
keys={1,2,3,4}
values={'one','two','three','four'}
dict7=dict.fromkeys(keys,values)
dict7

{1: {'four', 'one', 'three', 'two'},
 2: {'four', 'one', 'three', 'two'},
 3: {'four', 'one', 'three', 'two'},
 4: {'four', 'one', 'three', 'two'}}

In [19]:
dict1

{}

In [20]:
dict4

{'a': 'one', 2: 'two', 3: 'three'}

In [21]:
dict4.get(2)

'two'

In [22]:
dict4[2]

'two'

In [23]:
dict4['name']="numberds"
dict4

{'a': 'one', 2: 'two', 3: 'three', 'name': 'numberds'}

In [24]:
dict4.pop("a")

'one'

In [25]:
dict4

{2: 'two', 3: 'three', 'name': 'numberds'}

In [26]:
dict4.popitem()

('name', 'numberds')

In [27]:
dict4

{2: 'two', 3: 'three'}

In [28]:
del[dict4[2]]
dict4

{3: 'three'}

In [29]:
del[dict4]
dict4

NameError: name 'dict4' is not defined

In [ ]:
dict3

In [30]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'job':'analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'job': 'analyst'}

In [31]:
for i in mydict1:
    print(i)

Name
ID
DOB
Address
job

In [32]:
for i in mydict1:
    print(i, ':', mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
job : analyst

In [33]:
for i in mydict1.values():
    print(i)

Asif
12345
1991
Hilsinki
analyst

In [34]:
for i in mydict1:
    print(mydict1[i])

Asif
12345
1991
Hilsinki
analyst

In [35]:
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'job': 'analyst'}

In [36]:
'Name' in mydict1

True

In [37]:
'abc' in mydict1

False

In [38]:
all(mydict1)

True

In [39]:
mydict1[0]='hello'
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'job': 'analyst',
 0: 'hello'}

In [40]:
any(mydict1)

True

In [41]:
doble={i:i*2 for i in range(5)}
doble

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [42]:
squrt={i:i**2 for i in range(5)}
squrt

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [43]:
key={'1','2','3','4'}
value={'one','two','three','four'}
newd={k:v for (k,v) in zip(key, value)}
newd

{'1': 'two', '4': 'one', '3': 'four', '2': 'three'}

In [44]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper() for i in str1} # Lower to Upper Case
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

In [45]:
str2="hello mr coney"
k={k:v for (k,v) in enumerate(str2)}
k

{0: 'h',
 1: 'e',
 2: 'l',
 3: 'l',
 4: 'o',
 5: ' ',
 6: 'm',
 7: 'r',
 8: ' ',
 9: 'c',
 10: 'o',
 11: 'n',
 12: 'e',
 13: 'y'}

In [46]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper() for i in str1} # Lower to Upper Case
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}